<!-- templates/partials/footer.html -->
<style>
    .footer {
         width: 100%;
        background-color: #008B8B;
        color: white;
        text-align: center;
        padding: 15px 0;
        font-size: 14px;
        box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
        position: relative;
        margin-top: 40px;
    }

    .footer span {
        font-weight: 500;
        letter-spacing: 0.5px;
    }
</style>

<div class="footer">
    <span>SCE Request System &copy; 2025 | Developed by Team 11 🚀</span>
</div>
